body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image:url("restaurante.jpg");
    background-position: center;
    color:#1D3722;
    text-align: center;
}

.wrapper{
    width:600px;
    margin: 0 auto;
    padding: 1rem;
}

.logo{
    width:100px
}
.card{
    background-color: #ffffcc;
    border:3px ridge #009999;
    padding:10px;
    margin:15px;
}

nav ul { 
    list-style-type:none;
}

nav ul li{
    padding:1rem;
}

h1{
    color:#1D3722;
}


p{
    font-size: 1.3rem;;
    background-color: #ffffcc;
    border:3px solid #009999;
}

h2{
    text-decoration: underline;
}

nav a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight:bold;
    color:#1D3722;
}

.button{
    background-color: #009999;
    border: 3px solid #009999;
    border-radius: 10px;
    color: #ffffcc;
    padding:3px;
}

.button:hover{
    background-color: #ffffcc;
    border: 3px solid #ffffcc;
    border-radius: 10px;
    color:#006699;
}
.card ul{
    list-style-type:none;
    font-size:1.2rem;
}

.menu-card h3{
    text-transform: capitalize;
}